<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>


    <bean id="teditor" class="com.trax.chap3_minimizeXMLConfig.annotations.normalCLasses.TextEditor"/>

    <!-- IMPL OF SPELL CHECKER -->
    <bean id="spellCheckerBean" class="com.trax.chap3_minimizeXMLConfig.annotations.impl.EnglishSpellCheckerImpl"/>
    <bean id="hinchecker" class="com.trax.chap3_minimizeXMLConfig.annotations.impl.HindiSpellCheckerImpl"/>
    <bean id="frenchChecker" class="com.trax.chap3_minimizeXMLConfig.annotations.impl.FrenchSpellCheckerImpl"/>


    <!-- IOC SECTION -->
    <bean id="barista" class="com.trax.chap3_minimizeXMLConfig.ioc.impl.BaristaImpl" scope="prototype"/>
    <bean id="barmenu" class="com.trax.chap3_minimizeXMLConfig.ioc.normalClasses.CoffeeBarMenu" />
  <!--  <bean id="ccd" class="com.trax.chap3_minimizeXMLConfig.ioc.impl.CCDImpl" scope="prototype"/>-->
    <!-- JDBC template -->


</beans>